<div class="p-4 text-gray-900 quote-container shadow rounded mb-6 md:w-1/3 sm:w-1/2 w-3/4">
  <p class="mb-3 text-gray-700 font-black text-lg"><%= quote.content%></p>
  <span class="text-sm  italic block text-gray-700"> <%= quote.author.name%> </span>
  <hr class="text-gray-100 mt-2">
  <div class="mt-2  flex items-center justify-between">
  <span class="p-1 rounded hover:bg-gray-100 cursor-pointer">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-gray-500 hover:text-gray-700" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 16H6a2 2 0 01-2-2V6a2 2 0 012-2h8a2 2 0 012 2v2m-6 12h8a2 2 0 002-2v-8a2 2 0 00-2-2h-8a2 2 0 00-2 2v8a2 2 0 002 2z" />
    </svg>
  </span>
    <div class="tags">
      <%quote.tags.pluck(:name).each do |t|%>
        <span class="inline-block bg-gray-100 rounded-full px-2 text-sm text-blue-500"><%= t%></span>
      <%end%>
    </div>
  </div>
</div>